.navbar-nav .nav-link:hover, .footer-links:hover {
    text-decoration: underline;
}
.a-dark {
    color: #FFAB8A;
}

.footer-links {
    text-decoration: none;
}
.bg-lime  {
    background-color: #BBFFB5;
}

#div_ausgabe_und_hinweis {
    background-color: #3B424A;
}
